*{
    margin: 0px;
    padding: 0px;
}
.Getstartimage{
    background-image: url("../src/assets/image/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /* background-position: center; */
  
}
.logo1{
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    height: 30px;
    width: 30px;
}
.LogoHeadDiv{
    display: flex;
      /* margin-top: 1rem; */
    margin-left: 50px;
    /* border: 2px solid red; */
   padding: 30px;
   margin-left: -1px;
}
.Logo_Head{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 6px;
    margin-left: 10px;
    font-size: 18px;
}
.Heading{
    margin-top: 10rem;
    font-size: 15px;
    /* margin-left: 4rem; */
}
h3{
    font-weight:bold;
    margin-top: 14px;
    font-size: 16px;
    /* margin-left: 2px; */
}
.Para{
    height: 20px;
    width: 25rem;
}
.Headingdiv{
    /* border: 2px solid red; */
   margin-left: 5rem;
}
.subpara{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2rem;
}
.But{
    background-color: var(--bg-color);
    color: white;
    margin-top: 20px;
    border-radius: 40px;
    height: 45px;
    width: 9rem;
}
.But:hover{
    background-color:rgb(123, 31, 31) ;
}
.onlinelogo{
    display: flex;
    height: 3rem;
    width: 13rem;
    margin-top: 17rem;
    margin-left: 40rem;
    justify-content: space-around;
}
.onlogo{
    border: 2px solid white;
    border-radius: 50%;
    background-color: white;
    /* background-color: rgb(225, 68, 165); */
    height: 35px;
    width: 35px;
}