*{
    margin: 0px;
    padding: 0px;
}
.Otppageimage{
      height: 100vh;
    width: 100vw;
    background-image: url("../src/assets/image/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.otppage{
    /* border: 2px solid red; */
    height: 22rem;
    width: 27rem;
    margin-left: 60px;
    /* margin-top:1rem; */
    background-color: white;
    border-radius: 18px;
    position: relative;
    top: 10rem;
}
.Heading03{
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
    position: relative;
    top: 60px;
    left: 7.9rem;
    /* border: 2px solid red; */
    /* margin-top: 4rem; */
    height: 50px;
    width: 12rem;
}
.SubHeadingOtp{
    margin-left: 1rem;
    margin-top: -1px;
    color: black;
    /* border-left: 2px solid black; */
    padding-left: 15px;
}
.inputdiv01{
    margin-top: -16px;
}
.SubHeadingOtp01{
    color: black;
    margin-top: 6rem;
    /* margin-left: 13rem; */
    text-align: center;
    font-weight: bold;
}
.Subpara01{
  color: black;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: -2px;
}
.Button03{
    text-align: center;
}
.But3{
    background-color:var(--bg-color);
    color: white;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 30px;
    /* left: 14rem; */
    border-radius: 5px;
    height: 33px;
    width: 7rem;
    padding: 2px;

}
.But3:hover{
    background-color:rgb(123, 31, 31) ;
}
.Subpara02{
     color:  rgb(121, 117, 117);
     margin-top: 43px;
     text-align: center;
     font-size:12px;
}
