.Dashboardbackground{
    background-color: white;
    height: 100vh;
    width: 100vw;
    /* margin-top: -20px; */
    /* border: 2px solid red; */
    /* height: 100vh;
    width: 503%; */
}
.logo_dashboard{
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
    height: 40px;
    width: 40px;
}
.Heading_dashboard{
    display: flex;
    position: relative;
    top: 1rem;
    left: 2rem;
    height: 3rem;
    width: 15rem;
}
.sub_headingdashboard{
    color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 6px;
    margin-left: 10px;
    font-size: 18px;
}
.Dashboardleft{
    border: 2px solid red;
    height: 38rem;
    width: 16rem;
    margin:20px;
    margin-top: 2.6rem;
    background-color: var(--bg-color);
    border-radius: 10px;
}
.DashboardButton{
/* border: 2px solid white; */
margin: 10px;
padding: 20px;
text-indent: 20px;
color: white;
margin-top: -1.5rem;
}
.dashboard_Button01{
    /* background-color: rgb(195, 192, 187,0.6); */
    background-color: transparent;
    height: 46px;
    width: 14rem;
    margin-left: -1rem;
    font-size: 20px;
    padding: 3px;
    text-indent: -13px;
}
.dashboard_Button01:hover{
    background-color: rgb(195, 192, 187,0.6);
    border: 1px solid  rgb(195, 192, 187,0.6);
}
.dashboard_Button01:visited{
    border: 1px solid  rgb(195, 192, 187,0.6);
}
.dashboard_Button02{
    background-color: transparent;
     height: 46px;
    width: 14rem;
    margin-top: -20px;
    margin-left: -0.9rem;
    font-size: 19px;
    padding: 3px;
    text-indent: 1rem;
}
.dashboard_Button02:hover{
    background-color: rgb(195, 192, 187,0.6);
    border: 1px solid  rgb(195, 192, 187,0.6);
}
.dashboard_Button03{
    background-color: transparent;
     height: 46px;
    width: 14rem;
    margin-top: -20px;
    margin-left: -0.9rem;
    font-size: 19px;
    padding: 3px;
    text-indent: 1rem;
}
.dashboard_Button03:hover{
    background-color: rgb(195, 192, 187,0.6);
    border: 1px solid  rgb(195, 192, 187,0.6);
}
.Dashboardlogout{
     background-color: transparent;
     height: 46px;
    width: 14rem;
    margin-top: 20rem;
    margin-left: -2rem;
    font-size: 17px;
    /* padding: 2px; */
}
.Dashboardlogout:hover{
    background-color: rgb(195, 192, 187,0.6);
    border: 1px solid  rgb(195, 192, 187,0.6);
}

