*{
    margin: 0px;
    padding: 0px;
}
.Forgetpageimage{
      height: 100vh;
    width: 100vw;
    background-image: url("../src/assets/image/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.forget{
    /* border: 2px solid red; */
    height: 25rem;
    width: 30rem;
    margin-left: 60px;
    /* margin-top:1rem; */
    background-color: white;
    border-radius: 18px;
    position: relative;
    top: 9rem;
}
.Heading02{
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
    position: relative;
    top: 60px;
    left: 9rem;
    /* border: 2px solid red; */
    /* margin-top: 4rem; */
    height: 50px;
    width: 12rem;
}
.SubHeading{
    margin-left: 1rem;
    margin-top: -1px;
    color: black;
    /* border-left: 2px solid black; */
    padding-left: 15px;
}
.inputdiv{
    margin-top: -16px;
}
.SubHeading01{
    color: black;
    margin-top: 6rem;
    /* margin-left: 13rem; */
    text-align: center;
    font-weight: bold;
}
.Subpara{
    color: red;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 13px;
}
.Button02{
    text-align: center;
}
.But2{
    background-color: red;
    color: white;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 30px;
    /* left: 14rem; */
    border-radius: 5px;
    height: 35px;
    width: 7rem;
    padding-bottom: 4px;

}
.But2:hover{
    background-color:rgb(123, 31, 31) ;
}
