*{
    margin: 0px;
    padding: 0px;
}
.viewregisterpage01{
    /* border: 2px solid red; */
    height: 83.5%;
    width: 77rem;
    border-radius: 10px;
    position: absolute;
    top: 5.6rem;
    left: 18rem;
   background-color: rgba(211, 209, 205, 0.5);
}
.viewregisterpara{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 2rem;
}
.deletelogobutton{
    width: 27px;
    height: 27px;
    background-color: white;
    border-radius: 6px;
    margin-left: 70.5rem;
    padding: 1px;
    margin-top: 1rem;
}
.downloadlogobutton{
     width: 27px;
    height: 27px;
    background-color: white;
    border-radius: 5px;
    margin-left: 72.8rem;
    padding: 1px;
    position: relative;
    top: -1.9rem;
}
.downloadlogobutton:hover{
    box-shadow: 2px 2px 2px 0px rgb(206, 202, 202);
    border: 1px solid white;
}
.deletelogobutton:hover{
    box-shadow: 2px 2px 2px 0px rgb(206, 202, 202);
    border: 1px solid white;
}
.squarelogobutton{
    width: 27px;
    height: 27px;
    background-color:white;
    border-radius: 5px;
    margin-left: 86.1rem;
    padding: 1px;
    position: absolute;
    top: 10.5rem;
}
.filterlogo{
    width: 30px;
    height: 27px;
    background-color: white;
    border-radius: 4px;
    text-indent: 2px;
    padding-top: 2px;
    margin-top: -1.7rem;
    margin-left: 62rem;
}
.inputsearch{
    height: 28px;
    width: 11rem;
    position: relative;
    left: 1.8rem;
    top: -2rem;
    border-radius: 5px;
}
.viewregtab{
    margin-left: 5rem;
    margin-top: 2rem;
}